<div class="modal">
    <div class="gender">
        <h2>JEWELRY SERVICES</h2>
        <a href="#"><span appHover>Ring Sizing</span></a>
        <a href="#"><span appHover>Stone Replacement</span></a>
        <a href="#"><span appHover>Jewelry Appraisal</span></a>
        <a href="#"><span appHover>Jewelry Cleaning</span></a>
        <a href="#"><span appHover>Rhodium Planting</span></a>
        <a href="#"><span appHover>Jewelry Restoration</span></a>
    </div>
    <div class="gold-category">
        <h2>JEWELRY REPAIR</h2>
        <a href="#"><span appHover>Bracelet Repair</span></a>
        <a href="#"><span appHover>Chain Repair</span></a>
        <a href="#"><span appHover>Ring Repair</span></a>
        <a href="#"><span appHover>Jewelry Clasps</span></a>
        <a href="#"><span appHover>Lazer Jewelry</span></a>
        <a href="#"><span appHover>Prong Repair</span></a>
    </div>
    <div class="silver-category">
        <h2>JEWELRY MAKING</h2>
        <a href="#"><span appHover>3D Jewelry Design</span></a>
        <a href="#"><span appHover>Handmade Jewelry</span></a>
        <a href="#"><span appHover>Jewelry Casting</span></a>
        <a href="#"><span appHover>Jewelry Mold Making</span></a>
        <a href="#"><span appHover>Jewelry Polishing</span></a>
        <a href="#"><span appHover>Prong Repair</span></a>
    </div>
    <div class="accessories">
        <h2>WATCH SERIES</h2>
        <a href="#"><span appHover>Watch Repair</span></a>
        <a href="#"><span appHover>Watch Appraisal</span></a>
        <a href="#"><span appHover>Watch Cleaning</span></a>
        <br>
        <h2>DIAMOND SERVICES</h2>
        <a href="#"><span appHover>Diamond Appraisal</span></a>
    </div>
</div>