hr {
    width: 100%;
    height: 15px;
    background-color: var(--hover-red);


}
.container{
    width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}


[alt=image_01]{

    width: inherit;
    max-width: 1440px;
    margin-top: 10px;
}
