<div class="top">
    <img src="../../assets/icons/12.png" alt="brilliant">
    <img src="../../assets/icons/12.png" alt="brilliant">
    <img src="../../assets/icons/12.png" alt="brilliant">
    <img src="../../assets/icons/12.png" alt="brilliant">
    <img src="../../assets/icons/12.png" alt="brilliant">
    <img src="../../assets/icons/12.png" alt="brilliant">
    <img src="../../assets/icons/12.png" alt="brilliant">
    <img src="../../assets/icons/12.png" alt="brilliant">
    <img src="../../assets/icons/12.png" alt="brilliant">
    <img src="../../assets/icons/12.png" alt="brilliant">
    <img src="../../assets/icons/12.png" alt="brilliant">
    <img src="../../assets/icons/12.png" alt="brilliant">
    <img src="../../assets/icons/12.png" alt="brilliant">
    <img src="../../assets/icons/12.png" alt="brilliant">
    <img src="../../assets/icons/12.png" alt="brilliant">
    <img src="../../assets/icons/12.png" alt="brilliant">
    <img src="../../assets/icons/12.png" alt="brilliant">
    <img src="../../assets/icons/12.png" alt="brilliant">
    <img src="../../assets/icons/12.png" alt="brilliant">
    <img src="../../assets/icons/12.png" alt="brilliant">
    <img src="../../assets/icons/12.png" alt="brilliant">
    <img src="../../assets/icons/12.png" alt="brilliant">
    <img src="../../assets/icons/12.png" alt="brilliant">
    <img src="../../assets/icons/12.png" alt="brilliant">
    <img src="../../assets/icons/12.png" alt="brilliant">
    <img src="../../assets/icons/12.png" alt="brilliant">
    <img src="../../assets/icons/12.png" alt="brilliant">
    <img src="../../assets/icons/12.png" alt="brilliant">
    <img src="../../assets/icons/12.png" alt="brilliant">
    <img src="../../assets/icons/12.png" alt="brilliant">
</div>
<div class="bottom">

</div>