<div class="modal" *ngIf="isModalShown"  (mouseleave)="closeModal()" >
    <!-- (mouseenter)="openModal()"   -->
    <div class="gender">
        <h2>GENDER</h2>
        <a href="#"><span appHover>Male</span></a>
        <a href="#" ><span appHover>Female</span></a>
        <a href="#" ><span appHover>Unisex</span></a>
    </div>
    <div class="gold-category">
        <h2>GOLD CATEGORY</h2>
        <a href="#" ><span appHover>Ring</span></a>
        <a href="#" ><span appHover>Necklace</span></a>
        <a href="#" ><span appHover>Bracelet</span></a>
        <a href="#" ><span appHover>Cross</span></a>
        <a href="#" ><span appHover>Pendant</span></a>
        <a href="#" ><span appHover>Earing</span></a>
        <a href="#" ><span appHover>View All</span></a>
    </div>
    <div class="silver-category">
        <h2>SILVER CATEGORY</h2>
        <a href="#" ><span appHover>Ring</span></a>
        <a href="#" ><span appHover>Necklace</span></a>
        <a href="#" ><span appHover>Bracelet</span></a>
        <a href="#" ><span appHover>Cross</span></a>
        <a href="#" ><span appHover>Pendant</span></a>
        <a href="#" ><span appHover>Earing</span></a>
        <a href="#" ><span appHover>View All</span></a>
    </div>
    <div class="accessories">
        <h2>ACCESSORIES</h2>
        <a href="#" ><span appHover>For Table</span></a>
        <a href="#" ><span appHover>For Clothing</span></a>
    </div>
    <!-- <div class="images">
       <img src="../../../assets/images/2022_LE-LP-988x988-StylesSettings.jpeg" alt="img">
       <img src="../../../assets/images/best-simple-gold-jewelry-293078-1620409827035-main.700x0c.jpg" alt="img">
       <img src="../../../assets/images/neck-cross-akimov-101.002-crucifix.-guardian-angel-4.jpg" alt="img">
       <img src="../../../assets/images/rhodium-plating.jpg" alt="img"> 
    </div> -->

</div>