<div class="modal">
    <div class="gender">
        <h2>GENDER</h2>
        <a href="#"><span>Male</span></a>
        <a href="#">Female</a>
        <a href="#">Unisex</a>
    </div>
    <div class="category">
        <h2>GOLD CATEGORY</h2>
        <a href="#">Ring</a>
        <a href="#">Necklace</a>
        <a href="#">Bracelet</a>
        <a href="#">Cross</a>
        <a href="#">Pendant</a>
        <a href="#">Earing</a>
        <a href="#">View All</a>
    </div>
    <div class="category-2">
        <h2>SILVER CATEGORY</h2>
        <a href="#">Ring</a>
        <a href="#">Necklace</a>
        <a href="#">Bracelet</a>
        <a href="#">Cross</a>
        <a href="#">Pendant</a>
        <a href="#">Earing</a>
        <a href="#">View All</a>
    </div>
    <div class="accessories">
        <h2>ACCESSORIES</h2>
        <a href="#">For Table</a>
        <a href="#">For Clothing</a>
    </div>
    <!-- <div class="images">
       <img src="../../../assets/images/2022_LE-LP-988x988-StylesSettings.jpeg" alt="img">
       <img src="../../../assets/images/best-simple-gold-jewelry-293078-1620409827035-main.700x0c.jpg" alt="img">
       <img src="../../../assets/images/neck-cross-akimov-101.002-crucifix.-guardian-angel-4.jpg" alt="img">
       <img src="../../../assets/images/rhodium-plating.jpg" alt="img"> 
    </div> -->
    
</div>
