<div class="modal">
    <div class="gender">
        <h2>BY OCCASION</h2>
        <a href="#"><span appHover>Birthday Gifts</span></a>
        <a href="#"><span appHover>Anniversary Gifts</span></a>
        <a href="#"><span appHover>Wedding Gifts</span></a>
        <a href="#"><span appHover>Holiday Gifts</span></a>
        <a href="#"><span appHover>Couple's Rings</span></a>
    </div>
    <div class="gold-category">
        <h2>RECIPIENT BASED</h2>
        <a href="#"><span appHover>For Her</span></a>
        <a href="#"><span appHover>For Him</span></a>
        <a href="#"><span appHover>For Couples</span></a>
        <a href="#"><span appHover>ForMother/Father</span></a>
        <a href="#"><span appHover>For Friends</span></a>
    </div>
    <div class="silver-category">
        <h2>FUNCTIONAL AND PRACTICAL</h2>
        <a href="#"><span appHover>Jewelry Boxes and Organizers</span></a>
        <a href="#"><span appHover>Travel Jewelry Cases</span></a>
        <a href="#"><span appHover>Cleaning Kits</span></a>
    </div>
    <div>
        <h2>GIFT CERTIFICATES</h2>
        <a href="#"><span appHover>Option to Purchase Gift Certificates</span></a>

    </div>
  