<div class="top-container">
    <div class="line1"></div>
    <h1>CATEGORIES</h1>
    <div class="line2"></div>
</div>
<div class="flex-container">
    <div class="flex-item one"><a href="#"><img src="../assets/icons/diamond11.png" alt="diamond-red"></a></div>

    <div class="flex-item two"><a href="#"><img
                src="../../assets/images/Y2F0YWxvZy8xL2EvMy81LzFhMzVjOTA4ZWJlZjVmODkxZWM4ZjdlMGViNThkM2M4XzQ1NzM2OV85QTdENTJGOS5wbmc.jpeg"
                alt="ring"></a></div>

    <div class="flex-item three"><a href="#"><img
                src="../../assets/images/ring-concierge-bracelets-14k-yellow-gold-graduated-single-prong-diamond-bracelet-30024294858840.jpg.webp"
                alt="neckless"></a></div>

    <div class="flex-item four"><a href="#"><img
                src="../../assets/images/Custom-Diamond-Engagement-Ring-W-3qtr-106270.jpg" alt="ring"></a></div>

    <div class="flex-item five"><a href="#"><img src="../../assets/images/JT01041-1RP600_1_lar.jpg" alt="bracelet"></a>
    </div>

    <div class="flex-item six"><a href="#"><img src="../../assets/images/41Cl6aGn75L._US600_.jpg" alt=""></a></div>

    <div class="flex-item seven"><a href="#"><img src="../../assets/images/barandringtoggle-clasps-category(16).jpg"
                alt="assad"></a></div>

    <div class="flex-item eight"><a href="#"><img src="../../assets/images/30sp-watches-new-inyt-superJumbo.jpg"
                alt="watch"></a></div>

    <div class="flex-item nine">
        <a href="#">SHOP <br> NOW</a>
    </div>

</div>