.top-container {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3% 0 1%;
}

h1 {
    font-size: 2vw;
    letter-spacing: 5px;
}

.line1,
.line2 {
    width: 40%;
    border-top: 1px solid black;
}

.flex-container {
    width: 90%;
    max-width: 1440px;
    margin-inline: auto;

    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    background-size: cover;
}

.three,
.five,
.seven {
    width: 48%;
    height: auto;
}

.one,
.two,
.four,
.six,
.eight,
.nine {
    width: 25%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.flex-container img {
    width: 100%;
    height: 400px;
    object-fit: contain;
    border: 1px solid rgb(242, 235, 235);

}

.one img {
    rotate: -55deg;
    padding-top: 10px;
}

.nine {

    border: none;
    border-radius: 6px;
    background-color: var(--hover-red);
    font-size: 4rem;
    display: flex;
    // justify-content: center;
    align-items: center;

}

.nine a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding-left: 100px;

}