<div class="container">
    <div class="left">
        <button class="burger-menu">
            <img src="" alt="burger-menu">
        </button>
        <a href="#" appHover><img src="../../../assets/icons/smartphone.png" alt="smartphone"> <span>Contact Us</span></a>
        <a href="#">
            <img src="www.flaticon.com/free-icons/search-bar" alt="search">
            <input type="search" name="#" id="#" placeholder="Search">
        </a>
    </div>
    <a href="#" class="logo-img">
        <img  src="../../../assets/icons/Untitled-1 copy.png" alt="logo">
    </a>

    <div class="right">
        <a href="#" class="my-account" appHover>
            <img src="../../assets/icons/user.png" alt="user">
            <span >My Account</span>
        </a>
        <a href="#">
            <img src="../../assets/icons/heart.png" alt="heart">
        </a>
        <a href="#">
            <img src="../../assets/icons/shopping-bag.png" alt="shopping-bag">
        </a>
    </div>
</div>