<div class="top">
    <div class="left">
        <button class="burger-menu">
            <img src="../../../assets/icons/burger-menu (1).png" alt="burger-menu">
        </button>
        <a href="#"><img src="../../../assets/icons/smartphone.png" alt="smartphone"> <span>Contact Us</span></a>
        <a href="#">
            <img src="../../assets/icons/search-interface-symbol.png" alt="search">
            <input type="search" name="#" id="#" placeholder="Search">
        </a>
    </div>

    <img src="../../../assets/icons/Untitled-1 copyy.png" alt="logo">

    <div class="right">
        <a href="#" class="my-account">
            <img src="../../assets/icons/user.png" alt="user">
            <span>My Account</span>
        </a>
        <a href="#">
            <img src="../../assets/icons/heart.png" alt="heart">
        </a>
        <a href="#">
            <img src="../../assets/icons/shopping-bag.png" alt="shopping-bag">
        </a>
    </div>
</div>