<div class="top-container">
    <div class="line1"></div>
    <h1>GIFT</h1>
    <div class="line2"></div>
</div>

<div class="main-container">
    <div class="profile-photo">
        <img src="../../assets/images/509x348_gift_wrapping.jpg.webp" alt="gift">
    </div>
    <div class="text">
        <p>Discover the art of gifting with jewelry that captures the immense of celebrating and love </p>
        <a href="#">Read More<img src="../../assets/icons/right.png" alt="right"></a>
    </div>
</div>