.top-container {
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3% 0 1%;
}

h1 {
    font-size: 2vw;
    letter-spacing: 5px;
}

.line1,
.line2 {
    width: 40%;
    border-top: 1px solid black;
}

.main-container {
    width: 90%;
    // height: 300px;
    max-width: 1440px;
    margin-inline: auto;
    padding-left: 100px;
    display: flex;
    gap: 5%;


}

.profile-photo {
    width: 30%;
    height: 300px;
    // margin-left: 150px;

    border: 1px solid green;
}

[alt=expert] {
    width: 100%;
    height: 300px;
    object-fit:cover;
    border-radius: 6px;
}

.text {
    width: 65%;
    height: 300px;
    font-size: 1.8vw;
    // padding-right: 100px;

}

[alt=diamond] {
    width: 10vw;
    rotate: -40deg;
    float: right;
    margin-right: 50px;
margin-top: -30px;
}

[alt=right] {
    width: 20px;
}

.text :nth-child(1) {
    color: var(--hover-red);
    padding-top: 30px;
}

.text :nth-child(2) {
    margin-bottom: 50px;
    padding-right: 20px;
}

.text :nth-child(5) {
    // float: right;
    margin: 0 0 0 270px;
    text-decoration: none;
    color: black;
    font-size: 1.7vw;
}