<div class="top-container">
    <div class="line1"></div>
    <h1>QUALITY</h1>
    <div class="line2"></div>
</div>

<div class="main-container">
    <div class="profile-photo">
        <img src="../../assets/images/istockphoto-1059661424-612x612.jpg" alt="expert">
    </div>
    <div class="text">
        <p>Avtandil Mazniashvili - Jewelry Expert</p>
        <p>Meticulously examines every detail, enmiring <br> exquisite pieces that reflect your refined taste.</p> 
        <img src="../../assets/icons/diamond11.png" alt="diamond">
        <p>Elevate your elegance with our exquisite Jewelry pieces, each accompanied by a  Meticulously detailed <span>Guarantee Certificate</span></p>
        <a href="#">Read More <img src="../../assets/icons/right.png" alt="right"></a>
    </div>
</div>