<div class="modal">
    <div class="gender">
        <h2>CATEGORIES</h2>
        <a href="#"><span appHover>Gold Coins</span></a>
        <a href="#" ><span appHover>Silver Coins</span></a>
        <a href="#" ><span appHover>Platinum Coins</span></a>
        <a href="#" ><span appHover>Bronze Coins</span></a>
        <a href="#" ><span appHover>View All</span></a>
    </div>
    <div class="gold-category">
        <h2>SERIES</h2>
        <a href="#" ><span appHover>Kings of Georgia</span></a>
        <a href="#" ><span appHover>Presidents</span></a>
        <a href="#" ><span appHover>Kings</span></a>
        <a href="#" ><span appHover>Sports</span></a>
        <a href="#" ><span appHover>View All</span></a>
    </div>
    <div class="silver-category">
        <h2>METAL BARS</h2>
        <a href="#" ><span appHover>Gold Bars</span></a>
        <a href="#" ><span appHover>Silver Bars</span></a>
        <a href="#" ><span appHover>1oz Bars</span></a>
        <a href="#" ><span appHover>10oz bars</span></a>
        <a href="#" ><span appHover>View All</span></a>
    </div>
    <div class="accessories">
        <h2>ACCESSORIES</h2>
        <a href="#" ><span appHover>Coin Capsules</span></a>
        <a href="#" ><span appHover>Coin Holders</span></a>
        <a href="#" ><span appHover>Coin Slabs</span></a>
        <a href="#" ><span appHover>Coin Cases</span></a>
        <a href="#" ><span appHover>View All</span></a>
    </div>
