// ---------------მოდალ


.modal>* {
    width: 15em;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px 0 15px;
    text-align: center;
    padding: auto;
    // border: 1px solid green;

}

.modal> :first-child {
    margin-left: 17%;

}

.modal a {
    text-decoration: none;
    height: 25px;
    // color: black;
    cursor: default;
    padding-top: 5px;
    text-align: center;
    padding: auto;
}
.modal span{
    cursor: pointer;
}


.modal h2 {
    font-size: 1vw;
    color: var(--hover-red);
    padding-bottom: 10px;
    cursor:default;
}

// .images {
//     display: flex;
//     flex-flow: row wrap !important;
//     gap: 5px;
//     margin-bottom: 10px;

// }

// .images img {
//     display: inline-block;
//     width: 80px;
//     height: 70px;
// }