<div class="modal">
    <div class="gender">
        <h2>GENDER</h2>
        <a href="#"><span appHover>Male Watches</span></a>
        <a href="#"><span appHover>Female Watches</span></a>
        <a href="#"><span appHover>View All</span></a>
    </div>
    <div class="gold-category">
        <h2>METAL</h2>
        <a href="#"><span appHover>Gold</span></a>
        <a href="#"><span appHover>Stainless Steel</span></a>
        <a href="#"><span appHover>Titanium</span></a>
        <a href="#"><span appHover>Dual Tone</span></a>
        <a href="#"><span appHover>View All</span></a>
    </div>
    <div class="silver-category">
        <h2>MECHANISM</h2>
        <a href="#"><span appHover>Mechanical</span></a>
        <a href="#"><span appHover>Automatic</span></a>
        <a href="#"><span appHover>Digital</span></a>
        <a href="#"><span appHover>Quarts</span></a>
        <a href="#"><span appHover>View All</span></a>
    </div>
    <div class="accessories">
        <h2>BAND STRAPS</h2>
        <a href="#"><span appHover>Stainless Steel</span></a>
        <a href="#"><span appHover>Precious Metals</span></a>
        <a href="#"><span appHover>Leather</span></a>
        <a href="#"><span appHover>Rubber</span></a>
        <a href="#"><span appHover>View All</span></a>
    </div>