<div class="top-container">
    <div class="line1"></div>
    <h1>SERVICES</h1>
    <div class="line2"></div>
</div>
<div class="flex-container">
    <div class="flex-item one">
        <img src="../../assets/images/210916110236-how-to-clean-jewelry-lead.jpg" alt="how-to" class="service-img">
        <div class="overlay">
            <span>Cleaning</span>
        </div>
    </div>
    <div class="flex-item two">
        <img src="../../assets/images/istockphoto-160961325-612x612.jpg" alt="Repair" class="service-img">
        <div class="overlay">
            <span>Repair</span>
        </div>

    </div>
    <div class="flex-item three">
        <img src="../../assets/images/Appraising-Ring-.png" alt="diamond-check" class="service-img">
        <div class="overlay">
            <span>Diamond Check</span>
        </div>
    </div>
    <div class="flex-item four">
        <img src="../../assets/images/watch-cleanings-polishings-precision-watches.jpg" alt="watch-cleaning"
            class="service-img">
        <div class="overlay">
            <span>Watch Cleaning</span>
        </div>
    </div>
    <div class="flex-item five">
        <img src="../../assets/images/slider2_slide1_02-copyright1.jpg" alt="Designing" class="service-img">
        <div class="overlay">
            <span>Designing</span>
        </div>

    </div>
    <div class="flex-item six">
        <img src="../../assets/images/image1.png__664x0_q85_subsampling-2.png" alt="3d-printing" class="service-img">
        <div class="overlay">
            <span>3D Printing</span>
        </div>
    </div>
</div>