/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: "BOSQUE";

}

:root {
    --hover-red: #AC0101;
}

@font-face {
    font-family: 'BOSQUE';
    src: url('../src/assets/font/bosque/BOSQUE.otf') format('opentype'); /* Replace with your font file path and format */
    font-weight: normal;
    font-style: normal;
}
.modal {
    width: 100%;
    max-width: 1150px;
    display: flex;

    // gap: 20px;
    position: absolute;
    // left: 10%;
    background-color: rgba(255, 255, 255, .8);
    // background-color: rgb(228, 140, 140);    



    // border: 1px solid red;
}