<div class="navigation">
    <div class="left-nav">
        <a href="#" class="nav-link" (click)="openModal()">JEWELRY</a>
        <a href="#" class="nav-link" (click)="openModal()">WATCHES</a>
        <a href="#" class="nav-link" (click)="openModal()">COINS</a>
    </div>
    <div class="right-nav">
        <a href="#" class="nav-link" (click)="openModal()">SERVICES</a>
        <a href="#" class="nav-link" (click)="openModal()">GIFTS</a>
        <a href="#" class="nav-link" (click)="openModal()">THE MAISON</a>
    </div>
</div>